EncheresProject-ejb/build/*
EncheresProject-war/build/*
nbproject/private/*
EncheresProject-ejb/nbproject/private/*
build/*
dist/*
EncheresProject-war/nbproject/private/*
build/

EncheresProject-ejb/dist/

EncheresProject-war/dist/


nbproject/private/

EncheresProject-war/nbproject/private.rar
